body{
    color:aliceblue;
    background:black;
    margin:0px;
}

header{
    border-bottom:solid 2px blue;
    padding: 20px;
    font-size: 32px;
    color: blue;
}

section{
    background: #07397a;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

div{
    margin-right: 10px;
}